.accounts-table-container {
    margin: 1rem;
    padding: 1rem;
  }
  
  .accounts-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .accounts-table th, .accounts-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }
  
.select-dropdown {
    border: 1px solid black; /* Black border */
    color: black; /* Black text color */
    /* Add other styles as needed */
  }
.centered-text-container {
    text-align: center;
  }
  
 .bordered-table {
    border-collapse: collapse;
    width: 100%; /* Optional: Set the width of the table */
    border: 2px solid #000; /* Adjust the border width and color as needed */
  }
  
 .bordered-table th,
 .bordered-table td {
    border: 1px solid #000; /* Adjust the cell border width and color as needed */
    padding: 8px; /* Optional: Add padding inside cells */
  }
 .right-current-period{
  align-items: end;
 }
  
  
  
  